use diNo;

SELECT
	  [Bezeichnung] AS Klasse
      ,[Name] as Nachname
      ,[Rufname] AS Vorname
      ,[SchuelerAnschrift].[PLZ] as PLZ
      ,[SchuelerAnschrift].[Ort] as Ort
      ,[SchuelerAnschrift].[Strasse] as Straße
      ,[SchuelerAnschrift].[Telefonnummer] as Telefon
	  ,case when [Geschlecht]='M' then 'H' else 'F' end as Anrede

  FROM [dbo].[Schueler]
  INNER JOIN [dbo].[Klasse] ON [Schueler].[KlasseId] = [Klasse].[Id]
  LEFT JOIN [dbo].[SchuelerAnschrift] ON [SchuelerAnschrift].[SchuelerId] = [Schueler].[Id] AND [SchuelerAnschrift].[AnschriftWessen] = '3'
  WHERE (Status=0) AND Bezeichnung not like '%Rest'

  ORDER BY Bezeichnung,Ausbildungsrichtung, Name